@*--------------------------------------------------------------------------------------------------------------------*@
@* https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/blazor/common/samples/3.x/BlazorWebAssemblySample *@
@* Includes AJAX calls to a web API                                                                                   *@
@* https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.1 - MS Overview               *@
@* https://blazor.radzen.com/ - 3rd party controls (components)                                                       *@
@*--------------------------------------------------------------------------------------------------------------------*@


@page "/editor"
@using SC.NewbLibrary.Model.View
@using SC.NewbLibrary.Service
@using SC.NewbLibrary.Pages.Components
@inject NewbDataService NewbService
@inject NewbDataState NewbState


<h1>NEWB (New Eden Word Bank) <button class="buttonSuggest" @onclick="SetAddMode"><img src="/images/suggest.png" height="32" alt="Suggest an new term" /> Suggest a new term</button></h1>
<p><i><a href="https://chrome.google.com/webstore/detail/new-eden-word-bank-newb/maaojdhplffpbflhoggcckalfhhigjan" target="_blank">Add the Chrome Extension</a></i></p>
<button @onclick="FilterAction">All</button>
@for (var txt = (int)'A'; txt <= (int)'Z'; txt++)
{
    <button onclick="FilterAction">@((char)txt)</button>
}

@if (newbData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="main-container">
        @if (AddMode)
        {
            <EditorCardDetail DataPoint="@DataPoint" AddMode="true" />
        }
        @foreach (var dataPoint in newbData.Where(a => a.Term.StartsWith(SearchLetter, StringComparison.OrdinalIgnoreCase)))
        {
            <EditorCard DataPoint="dataPoint" />
        }
    </div>
}



@code {
    private NewbViewData[] newbData;
    private string SearchLetter { get; set; } = "A";
    //private string All = "All";

    protected override async Task OnInitializedAsync()
    {
        newbData = await NewbService.GetNewbData();
    }

    public NewbViewData DataPoint { get; set; } = new NewbViewData();
    public bool AddMode { get; set; } = false;

    private void SetAddMode() => AddMode = !AddMode;

    private void FilterAction()
    {

    }
}
