<section [ngClass]="isMenuHidden ? 'showcase about' : 'showcase about active'">
  <header>
    <h2 class="logo">Sol3</h2>
    <div (click)="toggleMenu()" [ngClass]="isMenuHidden ? 'toggle' : 'toggle active'">
      <!-- <div class="collapsible-header" (click)="isMenuHidden=!isMenuHidden"> -->
      <i class="material-icons" *ngIf="isMenuHidden">menu</i>
      <i class="material-icons" *ngIf="!isMenuHidden">close</i>
      <!-- </div> -->
    </div>
  </header>

  <div class="overlay"></div>

  <div class="underlay">
    <video src="assets/beach 01.mp4" muted loop autoplay></video>
  </div>

  <div class="body-panel">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Tag line? Or just a way to live?</strong>
          </mat-panel-title>
          <mat-panel-description>
            July 24, 2013
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="post-body entry-content">
          <img align="right" alt="269564_431635830217894_1253218194_n" border="0" height="240"
            src="http://lh5.ggpht.com/-lUK_oJIdXx0/UfBvm36NqVI/AAAAAAAAAS0/kMlVNbbeE3k/269564_431635830217894_1253218194_n_thumb%25255B17%25255D.jpg?imgmax=800"
            style="border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; margin: 0px 0px 5px 10px; display: inline; border-top-width: 0px"
            title="269564_431635830217894_1253218194_n" width="240">
          <p>My wife and I got back a couple of weeks ago from a trip to Spokane, WA. We went out for a Family Reunion
            and
            to learn. Sounds strange but for us it was a blessing we were there! One of the conversations I listened in
            on
            was about “The Secret”. Now, of course, you can Google it and find a lot of stuff out there. After a lot of
            looking I realized there are many, many versions of “the secret”. Some of them are weird, some are older
            versions recast and some are spot on. Now, I’ve heard “the secret” many times before but never applied it to
            our life. For some reason, this weekend really resonated with me and we are making a change!</p>
          <p>I also spend 5-10 minutes a day on Google+ and Facebook. Neither are high or critical items on my list but
            I
            do get into some interesting conversations. Like this one from a gentleman in England. He posts a “Question
            of
            the day” and sometimes I answer it. This one got my attention! </p>
          <blockquote>
            <p>“What is your tagline and why did you choose it?” </p>
            <p>My answer? Here you go: </p>
            <p>Live, laugh, love, inspire, serve.</p>
            <p>To be successful we are often told to visualize what we want; like houses, cars, bank balance, etc. My
              wife
              and I discovered 2 weekends ago something a little more powerful for us. We brain stormed and thought
              about
              what we wanted others to say of us in 20 years AND 4-6 words that would sum up our lives the way we wanted
              to live it.</p>
            <p>Of course, we have further fleshed out exactly what each of those 5 little words mean to us, not only
              with
              pictures but with the underlying attitudes to go along with them. Well, not completely yet but we are
              getting close.</p>
            <p>As we move forward, every decision will be passed through this tagline (filter) and the outcome will be
              decided on everything that makes up those 5 words for us...</p>
          </blockquote>
          <p>And now you are wondering what a tagline has to do with “The Secret”. First, let me define “The Secret” as
            best as I can.</p>
          <ol>
            <li>Want it with all your heart.</li>
            <li>Fervently believe you can do it.</li>
            <li>Vividly imagine it all the time.</li>
            <li>Enthusiastically talk about it all the time.</li>
            <li>Treat it as if it were a matter of life or death.</li>
          </ol>
          <br />
          <p><strong>It - What does it mean to us? What is it?</strong></p>
          <p>Like I said, we talked on our drive home from Spokane. We turned over what it meant to us. We both then
            realized that it was not something physical, it was not money in the bank, it was a way of life. It is the
            legacy we leave behind us. And it is what we are excited about! And it was what we were defining on our
            drive
            home!</p>
          <p>From our notes on 07/15/2013…</p>
          <p><u>Live</u> - to live life richly, deeply, fully, without hesitation, enthusiastically, adventurous,
            passionately, purposely, to flourish, to make the most of life, faith filled, with conviction, boldly,
            without
            regrets, with the belief that we are worthy of blessings</p>
          <p><u>Laugh</u> - heartily, no job, no stress, no debt, freedom, relaxed, often, freely/unforced, success is
            increased by being happy</p>
          <p><u>Love</u> - openly, honestly, freely, no guilt-shame-condemnation, passionately, deeply, compassionately,
            to empathize-not sympathize, boldly</p>
          <p><u>Inspire</u> - uplifting, with conviction, raise others up, lead by example, to be defined by our
            victories
            not our trials, to be a catalyst in others lives, when you walk into the room be someone who walks into the
            room, have a clear direction and focus on it with or without your current team, be the lead goose, always
            treat/encourage people (to be) more than they think they are, hope givers, encouragers, to be a couple
            others
            want to follow and run with.</p>
          <p><u>Serve</u> - selfless not selfish, eyes out not eyes in, treat everyone like they are the most important
            person in the world, to find out what people want and help them achieve it, focus not only on our family's
            legacy but the legacy of our team, help people get their "end state", be a couple our team can count on.</p>
          <p>Our next step is to further clarify each of the 5 parts of our tagline, our method of living.</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Building Our Brand</strong>
          </mat-panel-title>
          <mat-panel-description>
            January 8, 2014
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="post-body entry-content">
          <img align="right" alt="build-your-brand2" border="0" height="240"
            src="http://lh4.ggpht.com/-6nDLE8-QHUs/Ux09YDbO9DI/AAAAAAAAAE0/Ro6_JDwIRJI/build-your-brand2_thumb%25255B2%25255D.jpg?imgmax=800"
            style="border-top: 0px; border-right: 0px; border-bottom: 0px; margin: 0px 0px 10px 10px; border-left: 0px; display: inline"
            title="build-your-brand2" width="203">
          <p>Everyone has heard the saying "Live, Laugh, Love". You see it everywhere you go, the grocery store, hobby
            shops, on t-shirts etc. But what does it really mean? And then, if you decide to add thoughts to it like
            Keith
            and I did, of "Inspire, Serve" that seems to change everything! Right?!</p>
          <p>I think that it means something different for everyone. In looking around I see "Live [well ~ to the
            fullest
            ~ every moment]; Laugh [like you did as a child ~ lots ~ as hard as you can]; Love [like you have never been
            hurt ~ much ~ beyond words]; Inspire [motivate ~ to cause or create ideas ~ believe in others till they can
            believe in themselves]; Serve [one another ~ the community]. </p>
          <p>For Keith and me, this is our It. The reason we are doing what we do, our brand, if you will. You may be
            asking yourself "What is a brand, and why does it matter?" Or you are thinking that I am crazy and that is
            ok
            too! :)</p>
          <p>The definition of a Brand is the "name, term, design, symbol, or any other feature that identifies one
            seller's product distinct from those of other sellers."Initially, branding was adopted to differentiate one
            person's cattle from another's by means of a distinctive symbol burned into the animal's skin with a hot
            iron
            stamp and was subsequently used in business, marketing, and advertising." No I am not planning to have this
            burned into my skin (though the tattoo possibilities are staggering! Must think more about this!), but we
            definitely want to use it as an identifier to who we are. We want to be known as the people who do these 5
            things on a daily/weekly/monthly/yearly basis. </p>
          <p>Live, Laugh, Love, Inspire, Serve is our brand and over the next few weeks Keith and I will break down each
            word and what it means to us.</p>
          <p>Feel free to let us know how you feel about this, what your brand is, or if you would like some help
            developing your brand.</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Our Brand (Part 2) -- Live</strong>
          </mat-panel-title>
          <mat-panel-description>
            February 18, 2014
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="post-body entry-content">
          <img align="right" alt="livelifetofullest" border="0" height="210"
            src="http://lh3.ggpht.com/-Ecbb_7fKGrY/UxqF4gcufxI/AAAAAAAAJNw/cmeObLtC-JQ/livelifetofullest_thumb%25255B3%25255D.jpg?imgmax=800"
            style="background-image: none; border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; display: inline; float: right; padding-left: 0px; padding-right: 0px; padding-top: 0px;"
            title="livelifetofullest" width="350">
          <blockquote>
            Webster's Dictionary gives these two examples of "Live":<br>
            <em>—live it up<br>: to live with gusto <br>— live with<br>: to put up with : accept,
              tolerate</em> </blockquote>
          If we go based on these ideas, which one do you want to do?<br>
          <br>
          On our way back from a summer business function, Keith and I came up with our own ideas on how we want to live
          and it is every bit the first example.<br>
          <ul>
            <li>To live life richly </li>
            <li>Deeply </li>
            <li>Deliberately </li>
            <li>Fully </li>
            <li>Without hesitation </li>
            <li>Passionately </li>
            <li>Purposely </li>
            <li>Faith filled </li>
            <li>Boldly </li>
            <li>Without regrets </li>
            <li>With the belief that we are worthy of blessings</li>
          </ul>
          We don't want to have to settle for anything. We want to live with gusto! We want to explore the
          world. OK - really, there are a few places that I have no interest in, but if Keith wants to go, I will
          go with him because I want to LIVE with him. <br>
          <br>
          We want our lives to be such that when people see us, they know, beyond a shadow of a doubt, that we are not
          only living life to the fullest now, but that we will be living it to the fullest tomorrow, and the day after
          that, and all of our days to come.<br>
          <br>
          We don't want to live a settle for life. We are worth more than that! YOU are worth more than
          that! We are worth the abundance of time, money, prosperity, health and everything else that it takes to
          live "with gusto."<br>
          <br>
          We are working to live deliberately. One blog writer posted: It means that we examine our hearts
          and minds closely. So that we can always represent ourselves completely. We try to know which of our attitudes
          and reactions are true to us and which are from a tattered and tired old useless hard-wiring that could use
          some updating. It means we can respond, versus react, to people, places and times and be fully a part of
          what's around us."<br>
          <br>
          It is time to stop reacting to the world around us.<br>
          <br>
          Here is a link to a poem written by Linda Ellis:<a
            href="http://www.linda-ellis.com/the-dash-the-dash-poem-by-linda-ellis-.html" rel="nofollow"
            target="_blank">http://www.linda-ellis.com/the-dash-the-dash-poem-by-linda-ellis-.html</a><br>
          <br>
          How do you want to live your life, your "Dash" if you will? Do you want it to be with gusto, or do you
          merely want to put up with it, tolerate it?<br>
          <br>
          As for Keith and me, we choose gusto!
          <div style="clear: both;"></div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Our Brand (Part 3) -- Laugh</strong>
          </mat-panel-title>
          <mat-panel-description>
            February 25, 2014
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="post-body entry-content">
          <img align="right" alt="001_1" border="0" height="161"
            src="http://lh4.ggpht.com/-psuXCa2clCA/Uw0JX-g_6cI/AAAAAAAAJAw/eb6QtPXPts4/001_1_thumb%25255B15%25255D.jpg?imgmax=800"
            style="border-left-width: 0px; border-right-width: 0px; background-image: none; border-bottom-width: 0px; float: right; padding-top: 0px; padding-left: 0px; margin: 0px 0px 10px 10px; display: inline; padding-right: 0px; border-top-width: 0px"
            title="001_1" width="240">
          <p>It is said that laughter is the best medicine, and anyone who knows me knows that I love to laugh.
            When I get stressed out, I usually start cracking jokes. It is my coping mechanism. But what is
            it about laughing that really helps a person?</p>
          <p>According to the Mayo Clinic the benefits of laughter have several positive effects on a person.</p>
          <h2>Short-term benefits</h2>
          <p>A good laugh has great short-term effects. When you start to laugh, it doesn't just lighten your load
            mentally, it actually induces physical changes in your body.</p>
          <p>Laughter can:</p>
          <ul>
            <li>Stimulate many organs. Laughter enhances your intake of oxygen-rich air, stimulates your heart, lungs
              and muscles, and increases the endorphins that are released by your brain. </li>
            <li>Activate and relieve your stress response. A rollicking laugh fires up and then cools down your stress
              response and increases your heart rate and blood pressure. The result? A good, relaxed feeling. </li>
            <li>Soothe tension: Laughter can also stimulate circulation and aid muscle relaxation, both of which help
              reduce some of the physical symptoms of stress.</li>
          </ul>
          <h2></h2>
          <h2>Long-term effects</h2>
          <p>Laughter isn't just a quick pick-me-up, though. It's also good for you over the long haul.</p>
          <p>Laughter may:</p>
          <ul>
            <li>Improve your immune system. Negative thoughts manifest into chemical reactions that can affect your body
              by bringing more stress into your system and decreasing your immunity. In contrast, positive thoughts
              actually release neuropeptides that help fight stress and potentially more-serious illnesses. </li>
            <li>Relieve pain. Laughter may ease pain by causing the body to produce its own natural painkillers.
              Laughter may also break the pain-spasm cycle common to some muscle disorders. </li>
            <li>Increase personal satisfaction. Laughter can also make it easier to cope with difficult situations. It
              also helps you connect with other people. </li>
            <li>Improve your mood. Many people experience depression, sometimes due to chronic illnesses. Laughter can
              help lessen your depression and anxiety and make you feel happier.</li>
          </ul>
          <p>We want to encourage you to laugh - A LOT! It is OK to laugh at yourself when you do something
            utterly stupid! Goodness knows that I do that quite often. </p>
          <p>Take for example throwing myself off the end of a treadmill. Even though we thought I had broken my
            arm, I laughed about it. The workers at the Rec Center thought I had lost my mind, but when I
            explained how ridiculous I must have looked, they laughed too. It not only relieved my stress, but
            theirs as well. You can bet that some of them were wondering if this crazy redheaded lady was going to
            try and sue the town for getting hurt on their property. But by laughing at my own misfortune, I
            assured them that I took full responsibility for my own stupidity. And yes, I am fine now. :)
          </p>
          <p>When laughter is shared it creates a bond between you and the other person or people.</p>
          <p>In this day and age of LOL, ROFL, etc. do you actually laugh out loud? I don't know anyone who
            actually rolls on the floor laughing, unless they are getting tickled. Do you, when you type that, or
            are you just giving it lip service? </p>
          <p>Try actually laughing out loud and see if it helps you! If you can't find something to laugh about,
            try watching some silly cat videos on YouTube. It is next to impossible to not start laughing.
            Watch a silly movie. Get into a tickle fight, though me careful, Keith and I have been in a couple of
            them that have turned out painful! Don't be afraid to get laugh lines around your eyes. </p>
          <p>With so much power to heal and renew, the ability to laugh easily and frequently is a tremendous resource
            for surmounting problems, enhancing your relationships, and supporting both physical and emotional health.
          </p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Our Brand (Part 3) -- Love</strong>
          </mat-panel-title>
          <mat-panel-description>
            March 4, 2014
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="post-body entry-content">
          <img align="right" alt="types-of-love" border="0" height="152"
            src="http://lh6.ggpht.com/-2Su4Nxrwysk/Ux05vx-5R0I/AAAAAAAAAEM/J5p79qD13UI/types-of-love_thumb%25255B3%25255D.jpg?imgmax=800"
            style="border-top: 0px; border-right: 0px; border-bottom: 0px; margin: 0px 0px 10px 10px; border-left: 0px; display: inline"
            title="types-of-love" width="240">
          <p>The saying "Love is a many splendored thing" means it is
            brilliant, magnificent and beautiful. As most of you know, there are several types of love:</p>
          <p><strong>Agápe</strong> means love in a "spiritual" sense. It often refers to a general affection or
            deeper sense of "true unconditional love" rather than the attraction suggested by "eros." This love is
            selfless; it gives and expects nothing in return. Whether the love given is returned or not, the
            person continues to love (even without any self-benefit). </p>
          <p><strong>Éros</strong> is "physical" passionate love, with sensual desire and longing. Romantic, pure
            emotion without the balance of logic. "Love at first sight". </p>
          <p><strong>Philia</strong> is "mental" love. This type of love has give and take. It includes loyalty to
            friends, family, and community, and requires virtue, equality and familiarity. Philia denotes a general type
            of love, used for love between family, between friends, a desire or enjoyment of an activity, etcetera.</p>
          <p>Keith and I have this as part of our brand to show how we feel about each other as well as the people
            around us. We choose to love people unconditionally. That is not to say that we love them the
            same way that I love Keith or that he loves me - for lack of a better term, we have different heart
            spaces for people.</p>
          <p><strong>Heart space number 1: Spousal love</strong></p>
          <p>The love I have for my husband is a combination of all 3 of these types of love. I love him mentally,
            physically and spiritually. Some are stronger than others at various points, but they are always all
            there. It is a beautiful, magnificent thing, one which many people comment about on a regular
            basis. But let me tell you, it is work. We made a choice to love each other through
            everything. </p>
          <p><strong> Heart space number 2: Our family by blood and choice</strong></p>
          <p>Whether our family is by blood or by choice they have a bond of love with each of them. To us, our
            friends are our family and we strive to have our family as our friends. We call our close friends our
            brothers and sisters, daughters and sons. Few we call mom and dad. But all of them have a
            special place in our heart. </p>
          <p>We have been told that our hearts are to big, because we give people multiple chances if they screw
            up. We don't really live by the "fool me once shame on you, fool me twice, shame on me" because we
            genuinely care about people. We want to see our friends happy and will help anywhere that we can to
            make that happen. We love them with the philia and agape types of love. It is give and take, but
            it is also unconditional. We may get frustrated with them and need to take a break, but it doesn't
            change the fact that we love them.</p>
          <p>Please understand that there is a big difference between friends and acquaintances. I like most of my
            acquaintances, but I would not necessarily open my home or my heart to them, until I know them well enough
            to call them my family. </p>
          <p>When you truly love someone, you want to see them happy and comfort them when they are not. The
            easiest way to let people know you love them is to show that you are thinking about them, even if it is
            nothing more than a quick text or phone call. Chances are very good that if a person pops into your
            head there is a reason that you need to talk to them.</p>
          <p>Until next week...</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Our Brand (Part 5) – Inspire</strong>
          </mat-panel-title>
          <mat-panel-description>
            March 11, 2014
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="post-body entry-content">
          <img align="right" alt="Inspire - Be Inspired" border="0" height="166"
            src="http://lh3.ggpht.com/-NRRI8fbW9xo/Ux9uuN_Xs-I/AAAAAAAAAFY/z_jIvPLunSM/Inspire%252520-%252520Be%252520Inspired_thumb%25255B10%25255D.png?imgmax=800"
            style="border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; margin: 0px 0px 10px 10px; display: inline; border-top-width: 0px"
            title="Inspire - Be Inspired" width="165">
          <blockquote>
            <h2><strong><em>“To succeed, you need to find something to hold on to, something to motivate you, something
                  to inspire you.”</em></strong> – Tony Dorsett</h2>
          </blockquote>
          <p>This is probably going to be the hardest blog/post that I
            have written regarding our Brand. The biggest reason is that though Keith and I have had people tell
            us that we inspire them, I have a very hard time with the idea of being inspiring to anyone. Not
            because I don’t want to be, but because I intimately know my past and am generally embarrassed about
            it. There are a LOT of things that I have done that I am not proud of. So, I think that the best
            way to do this blog would be to look at it in more clinical terms to start with.</p>
          <p>The Oxford Dictionary defines Inspire as:</p>
          <ol>
            <li>To affect, guide, or arouse by divine influence. </li>
            <li>To fill with enlivening or exalting emotion: hymns that inspire the congregation; an artist who was
              inspired by Impressionism. </li>
            <li>To stimulate to action; motivate </li>
            <li>To affect or touch. </li>
            <li>To draw forth; elicit or arouse feelings </li>
            <li>To be the cause or source of; bring about </li>
            <li>To make someone want to do something </li>
            <li>To give (someone) an idea about what to do or create</li>
          </ol>
          <p>There are many things that someone can find inspiring in their lives. A personal mentor, pictures,
            dreams, goals, etcetera. </p>
          <p>When you are talking about a mentor in your life, that person makes you feel better about yourself and
            makes you want to be better to prove your mentor right. Keith and I have a few people in our lives who
            do just that. They see something in us that we don’t really see and it inspires us to flush it out so
            that we can be better people and better business builders. </p>
          <p>When it is a dream or a goal that inspires you, you do what work you need to because you want or need that
            “thing” to come to fruition. You are willing to step outside of your comfort zone to get it. Or maybe
            you absolutely do NOT want that thing (i.e. a job, a boss, whatever) and you are still inspired to get out
            of that comfort zone.</p>
          <p>Pictures are fabulous ways to be inspired. We use pictures all the time to invoke feelings within
            ourselves. I have pictures of female bodybuilders to remind me of what I want to look like when I am
            done losing weight. We have pictures of Peter Island to remind us of why we are building our
            business. We have even more pictures of things that we want to accomplish in our house, yard and on
            our way to retirement.</p>
          <p>However, to be inspired to greatness is one thing, to inspire others to greatness is completely
            different. Here are some ways that you and I can inspire the people:</p>
          <ul>
            <li><strong><em>Be a good example.</em></strong> People watch what you do more than they listen to what you
              say. Be someone worth emulating. People who are deeply inspiring have forged their own authentic
              path. In other words, these people are living full-out what they talk about, study and research.
              They are the true embodiment of courage and fortitude in the face of opposition, criticism, judgment, and
              what sometimes seem to be unbeatable odds. John Quincy Adams said <em>“If your actions inspire
                others to dream more, learn more, do more and become more, you are a leader.”</em><b></b> </li>
            <li><b><em>Care about others.</em></b> People don’t care about how much you know until they know how much
              you care. Ask questions. Take a genuine interest in people. You need to be “others-focused” and
              derive satisfaction and reward by helping other people grow and flourish. </li>
            <li><b><em>Encouragement.</em></b> Everyone goes through tough times. When you support people and encourage
              them through these times, you’ll be inspiring them to see the best in themselves and in the
              situation. Ralph Waldo Emerson said, “<em>Our chief want is someone who will inspire us to be what
                we know we could be</em>.”<b></b> </li>
            <li><b><em>Be inspired yourself.</em></b> Look for people, ideas, environments and knowledge that you find
              inspiring and motivating. Look up inspiring quotes, find inspiring pictures, keep them in front of
              you all the time!<b></b> </li>
            <li><img align="left" alt="to_inspire_by_mushir1" border="0" height="120"
                src="http://lh4.ggpht.com/-HMWEOGLBGGw/Ux9uu-sdKWI/AAAAAAAAAFo/GNSO17kLDKk/to_inspire_by_mushir1_thumb%25255B10%25255D.jpg?imgmax=800"
                style="border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; margin: 5px 20px 0px 0px; display: inline; border-top-width: 0px"
                title="to_inspire_by_mushir1" width="195">
              <b><em>Share from your own experience.</em></b> You have more to share than you realize. You may be the
              only one who can
              touch someone with your message. Be focused on turning your “mess” into a “message” or helping
              others succeed and overcome the deep challenges out there in the way of greater success, fulfillment,
              peace, contribution, and progress. Be willing to share your failures as well as your successes.
              Others will relate to you and understand that they’re not the only ones with challenges.<b></b> </li>
            <li><b><em>Tell stories.</em></b> Your individual set of traumas, experiences, longings, failures, triumphs,
              and history give you a unique way of looking at the world, and you need to share your special
              vision. The best way is through powerful stories that pluck at heartstrings, stimulate thinking and
              emotions in ways that literally no one but you can.<b></b> </li>
            <li><b><em>Be a good communicator.</em></b> Increasing your ability to communicate effectively is a critical
              element for you to inspire others. Watch how you speak and what you say. You have the power to build
              a person up or rip them to shreds with your words and tone. </li>
            <li><b><em>Challenge people</em>.</b> Many of us have had teachers who at times seemed more like tormentors
              than mentors. They challenged us to do our best and we were better for it. <b></b> </li>
            <li><b><em>Read.</em></b> It may not follow that all readers are leaders, but certainly all leaders are
              readers. Stay informed. Share what you read with others. Tell people about books that have inspired you.
              Share your knowledge. I suggest authors John C. Maxwell, Og Mandino and Gary Chapman to start with.
              (links below)</li>
          </ul>
          <p>Next week we will discuss the final installment of Our Brand – Serve and then I will discuss with Keith
            what we want to talk about next. Have a great week everyone!!!

          <ul>
            <li><a href="https://www.johnmaxwell.com" target="newTab">www.johnmaxwell.com</a></li>
            <li><a href="http://www.ogmandino.com" target="newTab">www.ogmandino.com</a></li>
            <li><a href="https://www.5lovelanguages.com" target="newTab">www.garychapman.org</a></li>
          </ul>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Our Brand (Part 6) – Serve</strong>
          </mat-panel-title>
          <mat-panel-description>
            March 26, 2014
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="post-body entry-content">
          <img align="right" alt="Serve" border="0" height="157"
            src="http://lh3.ggpht.com/-5UjcExgfVAs/UzNAQnfdjpI/AAAAAAAAAGE/XOPrvkm1Gbc/Serve_thumb%25255B3%25255D.png?imgmax=800"
            style="border-top: 0px; border-right: 0px; border-bottom: 0px; margin: 0px 0px 5px 5px; border-left: 0px; display: inline"
            title="Serve" width="209">
          <p>When you think of the word “Serve”, what do you think of? Do you
            think of being a servant in the Master/Slave idea or do you think of it more as an answering of needs?
            Does the idea make you cringe or make you smile? Keith and I choose to look at it as a way of
            answering the needs of people. </p>
          <p>Most Americans are familiar with the quote, "Ask not what your country can do for you, ask what you can do
            for your country." When President Kennedy spoke those words at his inaugural address, it was a call to be
            more, to do more. He asked the American people to think about the gifts they have been given, and the price
            that was paid for them. More and more often in the news and media, I see that people doing things for others
            has been replaced with people doing things for themselves. The idea of giving back has been replaced with a
            sense of entitlement -- people want what is "owed" to them. </p>
          <p>If your only reason for serving others is to get something back, you’ll only get that something back.
            That’s it. It’s like a transaction. 1 for 1. An apple for an orange. I do this, you give me that. People are
            always complaining that there are no opportunities out there when they already have within them the power to
            create them <em>naturally </em>by serving others. They refuse to serve and because they refuse to serve,
            those opportunities don’t come about at all. But when you serve others because you <em>genuinely want
              to</em>, something big happens. A relationship is formed.</p>
          <p>One of the most valuable ways to serve others is to show them that we care. Giving our time and
            encouragement to someone will often be more valuable than even the most generous gift. There are many people
            who feel lonely and want to chat with others. Even those who have many friends, and a loving family, enjoy
            speaking to new people. When others need our help most, we should make a special effort to show them
            that we care. By providing love and support we can make a real difference in the lives of others. </p>
          <p>There’s power in serving others and the power I’m talking about here is not the type that usually comes to
            mind when you see the word power. The power I’m speaking of is more like power in terms of opportunity,
            namely that serving others will result in powerful opportunities coming into your life that you never
            would’ve thought possible.</p>
          <p>They’ve essentially made a habit of helping people with whatever they need AND they follow through on it.
            It becomes automatic. They don’t think – “What am I going to get out of this?” They just do. </p>
          <p>As a result, the person that’s been helped <em>senses this genuine desire to serve </em>with no hidden
            agenda whatsoever and is <em>compelled</em> to help that person back. It’s natural. In fact, we tend to
            repay <em>even more</em> than what’s been given to us. Now since each person is so unique, filled with so
            much different knowledge, skills, abilities, contacts, etc., all of that can result in a myriad of
            opportunities that be given to you, without you even asking. </p>
          <p align="left">Serving others in it of itself is a powerful opportunity to help and when you start to serve
            others, you’ll realize the simple fact that <em><strong>we all need help</strong></em> and because you
            realize that, you’ll start to get in the habit of serving others <em>even more</em>. Imagine the avalanche
            of opportunities that fall into your lap then. </p>
          <p align="left"> </p>
          <blockquote>
            One of the things I keep learning is that the secret of being happy is doing things for other people. - Dick
            Gregory
          </blockquote>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Living a life of quiet desperation</strong> &nbsp;&nbsp;|&nbsp;&nbsp; (March 11, 2014)
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="post-body entry-content">
          <img align="right" alt="Crying-Woman-300x199" border="0" height="159"
            src="http://lh4.ggpht.com/-uuptVPw_Cnw/Ux07hPlScCI/AAAAAAAAJSs/a3SulMvriv0/Crying-Woman-300x199_thumb.jpg?imgmax=800"
            style="background-image: none; border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; display: inline; float: right; margin: 0px 0px 10px 10px; padding-left: 0px; padding-right: 0px; padding-top: 0px;"
            title="Crying-Woman-300x199" width="240">
          <p>Henry David Thoreau, in his book <em>Walden</em>, said this very famous quote:</p>
          <blockquote>
            Most men lead lives of quiet desperation and go to the grave with the song still in them.
          </blockquote>
          <p>Having talked with many people over the last several years I have discovered that too many people fall in
            this
            category. And I think I am understanding why – finally.</p>
          <p>As a child growing up, the message I most often heard from my parents, and all of their adult friends, was
            “go
            to school, get good grades, get a job and you will be successful”. I listened and then I did. I am
            now in my fifties and living a life of quiet desperation. What is it that is causing this feeling?</p>
          <h3>Purpose</h3>
          <p>I think most of it has to do with defining and living your life’s purpose. Coupled with that, I think
            our modern lives rob us of the time and energy to do this. One of the things I’ve noticed is as I get
            older, I have more and more responsibility at work. I also have more and more responsibility at
            home. If I tracked a typical progression it would basically look like:</p>
          <ol>
            <li>Age 25 – start career, get married </li>
            <li>Age 30 – continue up the career path, larger family, larger house </li>
            <li>Age 35 – continue up the career path, larger family, larger house </li>
            <li>Age 40 – continue up the career path, more family activities/events </li>
            <li>Age 45 – continue up the career path, more family activities/events </li>
            <li>Age 50 – hold on to the career path, more family activities/events </li>
            <li>Age 55 – hold on to the career path, more family activities/events, kids weddings, college, etc. </li>
            <li>Age 60 - hold on to the career path, maybe start downsizing </li>
            <li>Age 65 - hold on to the career path, figure out how to retire</li>
          </ol>
          <img align="left" alt="Effort_vs_Time_-_Employee" border="0" height="169"
            src="http://lh5.ggpht.com/-v2Yhy8kW7B0/Ux-PT8dKMhI/AAAAAAAAJTw/MqkU-mExzU0/Effort_vs_Time_-_Employee_thumb%25255B1%25255D.png?imgmax=800"
            style="background-image: none; border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; display: inline; float: left; margin: 0px 10px 0px 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;"
            title="Effort_vs_Time_-_Employee" width="240">
          <p>If I were to show this visually as a graph of Time vs. Effort it would look something like this. While
            we have become more and more <em>successful</em> in our career, we have become more and more detached from
            our
            spouse. With an about 60% divorce rate here in America it is the rare bird indeed that is able to grow
            their marriage as well as their career. And this does not even take into account all those things we
            wanted to accomplish when we were cutting the strings from our own parents. </p>
          <p>What happened to those dreams? What ever happened to that purpose most of us had coming out of High
            School? What happened to that crazy feeling when you first saw who later became your spouse? Is it
            because the perceived effort to get the assumed reward seems to go up every year of our life; and we never
            quite seem to get as much reward as we thought we would? I think that might have quite a bit to do with
            it.</p>
          <p>I have several friends who have traded away their security in the employment and small business worlds to
            become big business entrepreneurs. After picking their brains for the last several months I have
            discovered that the Effort vs. Time graph looks completely different for them. The amount of effort up
            front is several times what we face as an employee. However, there comes a point in time where a tipping
            point is reached and the amount of effort sharply <strong><em>decreases</em></strong>!</p>
          <img align="right" alt="Effort_vs_Time_-_Entrepreneur" border="0" height="165"
            src="http://lh3.ggpht.com/-D9UDXpXrGB0/Ux-PVS3WQ4I/AAAAAAAAJUA/Mqgq8jKFAdo/Effort_vs_Time_-_Entrepreneur_thumb%25255B1%25255D.png?imgmax=800"
            style="background-image: none; border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; display: inline; float: right; margin: 0px 0px 0px 10px; padding-left: 0px; padding-right: 0px; padding-top: 0px;"
            title="Effort_vs_Time_-_Entrepreneur" width="240">
          <p>While my first graph shows a typical progression in age from 25 to 65, the second graph is a yearly
            progression. This is important as most people don’t start down this route until “later” in life.
            However, that does not inhibit an 18 year old from doing something like this. And in fact, in several
            ways, I think our youth should do something like this before they are taught by society to take the less
            successful route.</p>
          <p>
            Another thing to note, and this really got my attention, is the amount of time needed to hit that tipping
            point. My graph shows 5 years and this is a rough average of the dozens I have talked with. Some
            hit that point in as little as 3 years while others hit it in about 7 years. And somewhere along the way
            to the tipping point they were able to walk away from the job scene and start devoting their time to their
            <strong><em>purpose</em></strong> in life.</p>
          <h3>
            Time and Money</h3>
          <p>
            I could go into all the different studies on how to make money but I don’t have the time. I will leave
            that as a piece of research for you to do dear reader. However, I will state simply that there are 3
            main ways to make money:</p>
          <ol>
            <li>Trade hours for dollars. This is the typical employee and small business owner route. Here
              you are limited by several factors like how much the company is willing to pay for a particular job
              description, how much time in a day there is and what the market will bear. </li>
            <li>Compound money. You will recognize this as stock market portfolios, 401k, and other investments.
            </li>
            <li>Compound time. This is the big business model. Earning income from other people’s
              efforts. If you want more money, involve more people in your enterprise.</li>
          </ol>
          <p>
            Now what I find curious is that only #1 is taught in school. As we start climbing the career ladder we
            will find out about #2. The sad thing is, most of us will mortgage something to try to get into
            #2. Whether it is our time, working more and more overtime, getting a loan so we can invest, chipping
            away at our own income to sock money away in stocks and retirement plans, or what have you. The sad fact
            is we are never taught how to invest money wisely and so end up losing most, if not all, by the time we are
            ready to retire. #3 is not taught at all even though most of us work in a big business setting.
            The owners keep getting richer and we struggle to climb a ladder where the top rungs are already full.
            We have to wait for someone to leave or die before we have a chance to move up.</p>
          <p>
            Another interesting set of questions that I am dealing with goes something like this: On a sheet of
            paper, write out your ideal lifestyle then set it to your left. On another sheet of paper, write out
            your ideal job the set it to your right. Now compare the two. What do they have in common?
            If you (and your spouse) were honest, I would guess that they have very little in common. In fact, most
            of your ideal lifestyle would be centered around time; time with your spouse, time with your loved ones,
            time
            to pursue your purpose, time to relax and finally, supporting all of that, enough money to support all the
            things you need time for. Most of your ideal job would be centered around money; more money for what you
            are doing, more money for retirement, more money to get out of debt, and finally, at the bottom, would be
            less
            time at work.</p>
          <p>
            Now you are starting to see a bit of the dilemma. While working as an employee you have no control over
            either your time or your money. Small business owners are in the same boat. Do you think that is a
            basis for living a life of quiet desperation? Do you think there is more, or less involved?</p>
        </div>
      </mat-expansion-panel>


    </mat-accordion>
  </div>

</section>

<app-menu></app-menu>
