div.classic {
  padding-left: 30%;
  font-family: 'Architects Daughter' !important;
  font: 400 16px/28px 'Architects Daughter', sans-serif !important;
  //color: rgb(197, 233, 233) !important;
}

div.classic h2.Value01{
  margin-left: 10%;
  font-family: 'Architects Daughter' !important;
}
div.classic h3.Value01{
  margin-left: 15%;
  font-family: 'Architects Daughter' !important;
}
.classic h2.Value02{
  margin-left: 20%;
  font-family: 'Architects Daughter' !important;
}
.classic h3.Value02{
  margin-left: 25%;
  font-family: 'Architects Daughter' !important;
}
.classic h2.Value03{
  margin-left: 30%;
  font-family: 'Architects Daughter' !important;
}
.classic h3.Value03{
  margin-left: 35%;
  font-family: 'Architects Daughter' !important;
}
.classic h2.Value04{
  margin-left: 40%;
  font-family: 'Architects Daughter' !important;
}
.classic h3.Value04{
  margin-left: 45%;
  font-family: 'Architects Daughter' !important;
}
.classic h2.Value05{
  margin-left: 50%;
  font-family: 'Architects Daughter' !important;
}
.classic h3.Value05{
  margin-left: 55%;
  font-family: 'Architects Daughter' !important;
}
