<section [ngClass]="isMenuHidden ? 'showcase' : 'showcase active'">
  <header>
    <h2 class="logo">Sol3 - Blue Skies Unlimited</h2>
    <div (click)="toggleMenu()" [ngClass]="isMenuHidden ? 'toggle' : 'toggle active'">
      <!-- <div class="collapsible-header" (click)="isMenuHidden=!isMenuHidden"> -->
      <i class="material-icons" *ngIf="isMenuHidden">menu</i>
      <i class="material-icons" *ngIf="!isMenuHidden">close</i>
      <!-- </div> -->
    </div>
  </header>

  <video src="https://sol3-cdn.azureedge.net/sol3-web/video/beach 02.mp4" muted loop autoplay></video>

  <div class="overlay"></div>

  <div class="text">
    <h2>Contact</h2>
    <div class="classic">
      <p>For now, dear reader, I think you will have to use pen and paper, write out your message, insert it into a
        bottle, cork it and toss it into the ocean! Not being harsh, I just have not gotten to fixing this page up yet.
      </p>
    </div>
    <!-- <a href="/">Explore</a> -->
  </div>
</section>

<app-menu></app-menu>
