@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root {
  --blueskies-blue: #3B7292;
  --blueskies-brown: #272923;
  --blueskies-green: #737C53;
  --blueskies-grey: #959B9E;
  --blueskies-darkGrey: #424740;
}

/* You can add global styles to this file, and also import other style files */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

.showcase{
  position:absolute;
  right:0;
  width:100%;
  min-height: 100vh;
  padding:100px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color:#fff;
  z-index: 2;
  transition: 0.5s;
}

.showcase.about{
  align-items: flex-start;
}

.showcase.active{
  right:300px;
}

.toggle{
  position: relative;
  width:60px;
  height:60px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.showcase header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  text-transform: uppercase;
  // cursor: pointer;
}

.showcase video {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.overlay {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.397);
  mix-blend-mode: overlay;
}

.underlay {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.underlay video {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 3em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  //text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 1000px;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover {
  letter-spacing: 6px;
}

.body-panel {
  position: relative;
  z-index: 10;
  top: 50px;
  width: 90%;
}

.social {
  position:absolute;
  bottom:20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li{
  list-style: none;
}

.social li a{
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
  transform: scale(1.0);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(1.0) translateY(-15px);
}

blockquote {
  font-style: italic;
  border-left-style: groove;
  border-left-width: 2px;
  border-left-color: #C0C0C0;
  padding: 5px;
  margin: 5px 5px 5px 25px;
}

.mat-expansion-panel {
  background-color: rgba(20, 20, 20, 0.397);
}

.mat-expansion-panel-header {
  text-align: right;
  justify-content: space-between;
}


.post-body {
  margin:20px;
}

.post-body a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 3px 6px;
  text-decoration: none;
  color: #111;
  margin-top: 6px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.post-body a:hover {
  letter-spacing: 6px;
}

.post-body ol {
  padding: 25px;
  max-width: 1000px;
}

.post-body ul {
  padding: 25px;
  max-width: 1000px;
}

.post-body li {
  padding-left: 15px;
}

@media(max-width: 1200px) {
}

@media(max-width: 1024px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
  .post-body ol {
    max-width: 750px;
  }
  .post-body ul {
    max-width: 750px;
  }
}

@media(max-width: 768px) {
  .showcase,
  .showcase header {
    padding: 30px;
  }
  .text h2 {
    font-size: 2em;
  }
  .text h3 {
    font-size: 1.5em;
  }
  .post-body ol {
    max-width: 600px;
  }
  .post-body ul {
    max-width: 600px;
  }
}

@media(max-width: 480px) {
  .showcase,
  .showcase header {
    padding: 20px;
  }
  .text h2 {
    font-size: 1.5em;
  }
  .text h3 {
    font-size: 1.25em;
  }
  .post-body ol {
    max-width: 400px;
  }
  .post-body ul {
    max-width: 400px;
  }
}
